#card {
    display: block;
    width: 250px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    background-color: rgb(221, 221, 221);
}

#inside {
    padding: 15px;
    background-color: white;
    border-radius: 5px;
}

header {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}


.left, .right {
    display: flex;
    width: 50%;
    align-items: center;
}

.Name {
    width: 100%;
}

#name {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: red;
    margin-bottom: 10px;
}


.right{
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
}

figure#art {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: white;
    border: 2px solid #333;
    border-radius: 5px;
    overflow: hidden;
}

figure#art img {
    width: 100%;
    height: auto;
    display: block;
}

.description {
    text-align: center;
    font-size: 14px;
    color: #333;
    margin-top: 10px;
    font-weight: normal;
}