<div id="card">
    <div id="inside">
        <header>
            <div class="left">
                <div id="name">
                    {{carte().name}}
                </div>
            </div>
            <div class="right">
                <div id="valueP">
                    {{carte().valueP}}
                </div>
            </div>
        </header>
        <figure id="art">
            <img src="assets/img/CarreauRoi.png" alt="Image de la carte du roi de carreau">
        </figure>
        <div class="description">
            {{carte().description}}
        </div>
    </div>
</div>